body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    background: #3a47d5;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
    background: #eacda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        #d6ae7b,
        #eacda3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    color: black;
    color: #613f14;
}

.noteList {
    list-style: none;
    background: #111759;
    background-color: #faf0e3;
    border-radius: 0.4em;
    padding: 4em;
}

li.note {
    list-style-type: none;
}

.note {
    background-color: rgb(245, 245, 133);
    color: black;
    padding: 2rem 2rem 4rem;
    border-radius: 0.4em;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    margin: 0.6rem;
}

/* @TODO: Indicate the current note in a better way */
input.note {
    border: 10px dotted lightgreen;
}
