:root {
    --wood-light: #eacda3;
    --wood-dark: #d6ae7b;
    --paper: #faf0e3;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    background: #eacda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        var(--wood-dark),
        var(--wood-light)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #613f14;
}


.listLayout {
    display: flex;
}

#newNoteInput {
    font-family: 'Roboto Condensed', sans-serif;
    color: #613f14;
    background-color: var(--paper);
    font-size: 1em;
}
/* @TODO customize focus & active styles for input */

h2 {
    margin: 1em 0 auto;
}

h2::before {
    background-color: var(--paper);
}

.toDoNoteList,
.completedNoteList {
    list-style: none;
    background-color: var(--paper);
    border-radius: 0.4em;
    padding: 1em calc(2em + 2vw);
    min-height: 18em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.toDoNoteList li,
.completedNoteList li {
    width: max-content;
    display: flex;
    flex-direction: column;

    /* for debugging */
    /* border: 2px solid green; */
}

button.removeNote {
    align-self: flex-end;
}

.note {
    list-style-type: none;
    background-color: rgb(245, 245, 133);
    background: radial-gradient(circle, rgba(255, 253, 171, 1) 0%, rgba(245, 245, 133, 1) 100%);
    color: black;
    padding: 2rem calc(1rem + 2vw) 4rem;
    border-radius: 0.4em;
    font-family: 'Shadows Into Light', cursive;
    margin: 0.6rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    /* for debugging */
    /* border: 2px solid purple; */
}
