:root {
    --wood-light: #eacda3;
    --wood-dark: #d6ae7b;
    --paper: #faf0e3;
    --text: var(--text);
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #eacda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        var(--wood-dark),
        var(--wood-light)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* body::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url(/public/cork-board.webp) var(--wood-light);
    background-position: center center;
    background-blend-mode: unset;
    background-size: contain;
} */

.App {
    min-height: 100vh;
    height: 100%;
    font-size: 16px;
    font-size: calc(10px + 2vmin);
    color: var(--text);

    /* for the background image... not sure if using yet */
    /* position: relative; */
}

h1,
h2 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

h2 {
    font-size: 1em;
}

.listLayout {
    display: flex;
    justify-content: space-evenly;

    margin-top: 2em;

    width: 100%;
    overflow-x: auto;
}

.listContainer {
    flex-basis: 9em;
}

#newNoteForm {
    text-align: center;
}

#newNoteInput {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--text);
    background-color: var(--paper);
    font-size: 1em;
}

/* #newNoteInput:focus,
#newNoteInput:focus-visible {
    border-width: 2px;
    border-style: inset;
    border-color: rgba(245, 245, 133, 1);
} */

.toDoNoteList,
.completedNoteList {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 16em;
    margin: 0;
    padding: 0.1em calc(0.1em + 1vw);

    background-color: var(--paper);
    border-radius: 0.4em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.toDoNoteList li,
.completedNoteList li {
    display: flex;
    flex-direction: column;
    width: max-content;
}

button.removeNote {
    align-self: flex-end;
}

.note {
    list-style-type: none;

    margin: 0.6rem;
    padding: calc(0.8rem + 2vw) calc(0.5rem + 2vw) calc(1rem + 5vw);
    min-width: 4em;
    max-width: 10em;

    background-color: rgb(245, 245, 133);
    background: radial-gradient(circle, rgba(255, 253, 171, 1) 0%, rgba(245, 245, 133, 1) 100%);
    border-radius: 0.4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 0.9em;
}
